body{
	background: url(../images/body.png);
	color:#7f7f7f;
	font-family: 'Lato';
}

/* Top */

.topbar{
	height: 70px;
	background:#fa4c00;
}

.social{
	float: right;
}

.social ul{
	margin: 0px;
	padding: 0px;
	list-style: none;

}

.social ul li{
	list-style: none;
	float: left;
	line-height: 70px;
	width: 100px;
	text-transform: uppercase;
	font-size: 12px;
}

.social ul li a:link, .social ul li a:visited{
	display: block;
	color: #fff;
	padding: 0px 20px;
}

.social ul li a:hover{
	background: #fff;
	color: #fa4c00;
}


.searchbox{
	float: right;

}

input#s{
	background: #d13f00;
	border:none;
	border-radius: 0px;
	height: 70px;
	padding: 0px 10px;
	color: #fff;
	width: 220px;
}
#searchsubmit{
	height: 70px;
	padding: 0px 20px;
	margin: 0px;
	vertical-align: top;
	background: transparent;
	border: none;
	box-shadow: none;
	display: none;
	}
	
	
/* Header	 */
	
#masthead{
	padding: 40px 0px 10px;
	
}	

h1.site-title{
	text-transform: uppercase;
	font-weight: 800;
	color: #111;
	font-size: 42px;
	margin: 20px 0px 0px 0px;
	}

h1.site-title a:link, h1.site-title a:visited{
	color: #111;
	}

.site-description{
	font-size: 16px;
	}


/* Menu */
.topmenu{
	height: 80px;
	padding: 0px 20px;
	background: #3c3c3c;
}
	
#submenu {
	padding:0px 0px;
	height: 80px;

	}
	
#submenu ul {
	width: auto;
	float:left;
	list-style: none;
	margin: 0;
	padding: 0 0px;
	font-size: 13px;
	}

#submenu ul > li:hover{
	
}	
#submenu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	}
	
#submenu li a {
	color:#fff;
	display: block;
    margin: 0;
	padding: 25px 10px 21px 10px;
	text-decoration: none;
	position: relative;

	}

#submenu li span.menudescription{
	font-size: 10px;
	display: block;
	color: #999;
}

span.sf-sub-indicator{
	display: none;
}

#submenu li a:hover, #submenu li a:active, #submenu .current_page_item a  {
	color: #e94b35;
	
	}
	
#submenu li a.sf-with-ul {
	padding-right: 10px;
	}	
	

	
#submenu li ul li a, #submenu li ul li a:link, #submenu li ul li a:visited,
#submenu li ul li ul li a, #submenu li ul li ul li a:link, #submenu li ul li ul li a:visited,
#submenu li ul li ul li ul li a, #submenu li ul li ul li ul li a:link, #submenu li ul li ul li ul li a:visited {
	color: #eee;
	width: 148px; 
	margin: 0;
	padding: 10px 10px;
	border-top:1px solid #5c5c5c;
	position: relative;
	font-weight:400;

	}
	
#submenu ul li ul li:first-child a,#submenu ul li ul li ul li:first-child a,#submenu ul li ul li ul li ul li:first-child a  {
	border-top:none;

}

	
#submenu li ul li a:hover ,#submenu li ul li ul li a:hover ,#submenu li ul li ul li ul li a:hover {
	color: #fff; 
		}


#submenu li ul {
	font-size: 10px;
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 170px;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px;
	background:#4f4f4f;
	border:1px solid #4f4f4f;
	}

#submenu li ul a { 
	width: 150px;
	}

#submenu li ul a:hover, #submenu li ul a:active { 
	}

#submenu li ul ul {
	margin: -41px 0 0 177px;
	}

#submenu li:hover ul ul, #submenu li:hover ul ul ul, #submenu li.sfHover ul ul, #submenu li.sfHover ul ul ul {
	left: -999em;
	}

#submenu li:hover ul, #submenu li li:hover ul, #submenu li li li:hover ul, #submenu li.sfHover ul, #submenu li li.sfHover ul, #submenu li li li.sfHover ul {
	left: auto;
	}

#submenu li:hover, #submenu li.sfHover { 
	position: static;
	}
	
	
/* Layout */

#main{
	background: #fff;
	padding: 20px 20px;
}
#primary,#secondary{
	padding: 10px 0px;
}

h2.section-title{
	height: 60px;
	line-height: 60px;
	color: #fff;
	background: #3c3c3c;
	text-transform: uppercase;
	font-size: 18px;
	border-left: 10px solid #FA4C00;
	padding-left: 20px;
	margin-bottom: 20px;
}

/* Home blog */

.box{
	width: 300px;
	float: left;
	
}

.box.odd{
	margin-right: 20px;
}

.box.even{
	margin-right: 0px;
}

.box h1.entry-title{
	font-size: 16px;
	text-transform: uppercase;
	color: #222;
	margin: 0px 0px ;
	font-weight: 800;
}

.box h1.entry-title a:link, .box h1.entry-title a:visited{
	color: #222;
}

.box .entry-summary{
	margin: 0px;
}

.post-image{
	position: relative;
	margin-bottom: 10px;
}

.post-image img{
	display: block;
}

.postdate{
	background: #FA4C00;
	color: #fff;
	padding: 5px 10px;
	position: absolute;
	left: 0px;
	bottom:0px;
	font-size: 12px;
}

/* Sidebar */

/* Tabs */

#tabs{
	margin-bottom: 26px;
}

ul.tabnav{
	margin: 0px;
	height: 50px;
	border-bottom: 10px solid #FA4C00;
	background: #3C3C3C;
}

ul.tabnav li{
	list-style: none;
	float: left;
	width: 80px;
	margin: 10px 10px 0px 10px;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

ul.tabnav li a{
	color: #fff;
}

ul.tabnav li.active{
	background: #FA4C00;
	color: #fff;
}

ul.tabnav li.active a{
	color: #fff;
}


.ctab ul{
	margin: 10px 0px 0px 0px;
	list-style: 0px;
}

.ctab ul li{
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	list-style: none;
	border-bottom: 1px dotted #dfdfdf;
}

.ctab ul li:last-child{
	border: none;
}

.ctab ul li img{
	float: left;
	margin: 0px 20px 0px 0px;
}
.ctab ul li h2{
	width: 180px;
	float: left;
	clear: none;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
	text-transform: uppercase;
	margin:0px 0px 0px 0px;
}

.ctab ul li h2 a:link, .ctab ul li h2 a:visited{
	color: #333;
}

.ctab ul li span{
	font-size: 12px;
}

/* Articles */


.page-header{
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

h1.page-title{
	margin: 0px 0px;
	color: #333;
}

.taxonomy-description p{
	margin: 0px;
}
article.post, article.page{
	margin-bottom: 20px;
}


h1.entry-title{
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 0px;
	color: #222;
}

h1.entry-title a:link, h1.entry-title a:visited{
	color: #222;
}


/* Widgets */
.widget {
	margin: 0 0px 30px 0px;
	
}

h1.widget-title, h3.sidetitl {
    font-size: 16px;
    margin-bottom: 20px;
 	color:#fff;
 	background: #3c3c3c;
 	height: 60px;
 	line-height: 60px;
 	text-transform: uppercase;
 	padding-left: 20px;
 	border-left: 10px solid #fa4c00;

}

.widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

.widget li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.widget ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.widget ul li {
    list-style-type: none;
    margin: 0px;
    margin: 0px 0px;
    color: #777;
}

.widget ul li a:link,.widget ul li a:visited {
    color: #777;
    text-decoration: none;
}

.widget ul li a:hover{
	color:#EB634F;
}

.widget.widget_categories ul li,.widget.widget_pages ul li,.widget.widget_archive ul li,.widget.widget_links ul li,.widget.widget_meta ul li {
    border-bottom: 1px dotted #dfdfdf;
    padding: 7px 0px;
}

.widget.widget_recent_entries ul li  {
	padding: 7px 0px;
     border-bottom: 1px dotted #dfdfdf;
}

.widget ul#recentcomments li.recentcomments {
     border-bottom: 1px dotted #dfdfdf;
    padding: 7px 0;
}

.widget .textwidget p {
    padding: 0px 0px;
}

.widget .tagcloud {
    padding: 0px 0px 20px 0px;
 
}

.widget .tagcloud a{
	color:#fff;
	background: #fa4c00;
	padding: 5px 10px;
	margin: 0px 5px 5px 0px;
   font-size: 12px!important;
   display: inline-block;	
}

.widget .tagcloud a:hover{
	background: #3C3C3C;
}
.widget #calendar_wrap{
	padding:0px 20px 20px 20px;

}

.squarebanner{
	margin:0px;
}


.squarebanner ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px !important;

}

.squarebanner ul li{
	margin:10px 20px 5px 0px;
	list-style:none;
	float:left;
	background: #EFEFEF;
	padding: 5px 5px;
}


li.rbanner{
	margin-right:0px!important;
}



/* Comments */

#comments{
	
}

h2.comments-title{
	font-size: 16px;
	font-weight: 600;
	margin: 0px 0px 20px 0px;
	color: #111;
}

#comments ol.commentlist {
    clear: both;
    overflow: hidden;
    list-style: none;
    margin: 0;
}

#comments ol.commentlist li.comment,#comments ol.commentlist li.pingback {
    margin: 0px 0px;
    padding: 0px 0px;
    line-height: 1.6;
}

ol.commentlist li .comment-author .avatar {
     margin: 0px 10px 0px 0px ;
     float:left;
}
.comment-top{
	background: #edf1f2;
	padding: 5px 5px;	
}
cite.fn {
    color: #444;
    font-style:normal;
    font-weight:bold;
    font-size:14px;
    padding: 0px 0px;
    display: block;

}

cite.fn a:link,cite.fn a:visited {
	color:#444;
}

ol.commentlist li .comment-meta a {
    color: #444;
    text-decoration: none!important;
    
}
.comment-content{
	padding: 20px 30px 20px 30px;
	background: #fff;
	border:1px solid #f2f2f2;
}

ol.commentlist li .reply {
    background:#EB634F;
    color: #fff;
    font-size: 12px;
    padding:5px 10px;
    display: inline-block;
}

ol.commentlist li .reply a {
	color:#fff;
}

.space{
	height:30px;
}

ol.commentlist li ul.children {
    list-style: none;
    text-indent: 0;
    margin: 0px 0px 0px 50px;
}


#respond {
    margin: 30px 0;
}

#respond h3 {
    font-size: 16px;
    font-weight: 700;
    color: #222;
    padding: 5px 0px;
    margin:0px 0px;
}

#commentform {
    padding: 0px 0px;
}

#commentform p {
    color: #777;
    margin: 5px 0;
}

.form-allowed-tags{
	font-size:13px;
}

#respond label {
    display:inline;
    color: #777;
    padding: 5px 0;
}

#respond input {
    background: #fff;
    border: 1px solid #ddd;
    color: #777;
    margin: 0 10px 10px 0;
    padding: 5px;
}

#commentform input {
    width: 50%;
    display:block;
    margin-top:5px;
}

#respond input#submit {
	width:130px;
    background:#eee;
    color: #555;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

textarea#comment {
    display:block;
    margin-top:5px;
    background: #fff;
    border: 1px solid #ddd;
    width: 70%;
    color: #333;
    margin: 5px 0 0;
    padding: 10px 10px;
}

.form-allowed-tags{
	padding:20px 0px;

}

ol.commentlist li .comment-meta,#respond label small {
    font-size: 10px;
}





/* Footer widgets */

#bottom{
	padding: 20px 20px 40px 20px;
	background: #3C3C3C;
}

#bottom ul{
	margin:0px 0px;
	padding:0px;
}

h3.bothead{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 0px;
	color:#fff;
	font-weight: 600;
	text-transform: uppercase;
		}
	
.botwid{
	padding:10px 0px;
	color: #818181;
	list-style:none;
	width:280px;
	float:left;
	}
	
.botwid ul {
	list-style-type: none;
	margin:  0px;
	padding: 0px 0px 0px 0px ;


	}
.botwid li{
	list-style-type: none;
	margin: 0 ;
	padding: 0px 0px;
   border-bottom: 1px solid #4c4c4c;
	}
.botwid ul ul  {
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
	background-repeat:no-repeat;
		}

.botwid ul ul ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;
	}

.botwid ul ul ul ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;

	}

.botwid ul li {
	height:100%;
	line-height:18px;
	clear: left;	
	list-style-type: none;
	color: #aaa;
	}
	
.botwid ul li a:link, .botwid ul li a:visited  {
	
	color: #aaa;
	text-decoration: none;
	padding: 7px 0px 7px 0px;
	display:block;


	}

.botwid ul li a:hover{

	color: #fff;
	}

.botwid p{
	padding: 5px 0px;
	margin:0;
	line-height:150%;
	
	}

.botwid table {
	width:100%;
	text-align:center;
	color: #818181;
	}		
		
.botwid ul#recentcomments li.recentcomments {
     border-bottom: 1px solid #4c4c4c;
    padding:7px 0;
}


/* Footer */

.site-footer{
	padding: 20px 20px;
	background:#333;
	margin-bottom: 100px;
}

.fcred{
	padding: 10px 10px;
	color: #aaa;
}

.fcred a:link, .fcred a:visited{
	color:#aaa;
}



/* paginate */

.paginate{
	margin-bottom: 30px;
	
}

.paginate a{
	background: #636363;
    display: block;
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-right: 10px;
    color: #fff;
}

.paginate span{
	color: #fff;
    display: block;
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-right: 10px;
    background: #FA4C00;
}
